@keyframes gf_rotateOutUpRight {
  from {
    opacity: 1;
  }

  to {
    transform: rotate3d(0, 0, 1, 90deg);
    opacity: 0;
  }
}

.rotateOutUpRight {
  animation-name: gf_rotateOutUpRight;
  transform-origin: right bottom;
}
